services:
  postgis:
    image: postgis/postgis:16-3.4
    container_name: flight_postgis
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=flightdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
